<html>
<head>
<title>About Me</title>
<link rel="stylesheet"  href="aboutme.css">

</head>

<body>
    <header>
        <div class="row">   
            <ul class="main-nav">
                <li class="active"><a href=""> HOME </a></li>
                <li><a href=""> ABOUT </a></li>
                <li><a href=""> ABOUT </a></li>
                <li><a href=""> ABOUT </a></li>
                <li><a href=""> ABOUT </a></li>
                <li><a href=""> ABOUT </a></li>
            </ul>
     </div>


     </header>





</body>

</html>